.main-container {
    // background-color: aqua;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;
    margin:auto;
    // height: 300px;
    // margin-top: 10px;
}
.sub-container {
    display: flex;
    padding-top: 20px;
}
.content {
    padding-left: 20px;
}
// app-header {
//     // width: 100%;
//     margin-bottom: 200px;
//     // position: fixed;
// }
// app-menu {
//     // margin-top: 180px!important; /* altura do header + 40px de margem */
//     // margin-right: 20px;
// }


// .container {
//     display:block;
//     width: 84%;
//     margin-left: 12%;
//     margin-top: 10px;
// }

// app-menu {
//   width: 25%;
// }

// router-outlet {
//     display: inline;
//     width: 75%;
//     // margin-right: 1rem;
// }